{% macro render_content(content) %}
  {% if content is string %}{{- content }}
  {% elif content is iterable and content is not mapping %}
    {%- for item in content %}
      {% if 'image' in item or ('image_url' in item or (item | attr('type')) == 'image') -%}图片{% else %}{{- item.text -}}{%- endif %}
    {%- endfor %}
  {% elif content is none or content is undefined %}{{ '' }}
  {% else %}Unknown{% endif %}
{% endmacro %}

{# Check messages #}
{% if not messages or (messages | length) == 0 -%}{- raise_exception('No messages provided') -%}{%- endif %}

{# Main message loop #} 
{%- for message in messages -%}  
    {%- set content = render_content(message.content)|trim if message.content else '' -%}
    
    {% if (message | attr('role')) == 'system' and not loop.first -%}{- raise_exception('System must be first') -{% endif %}}

    {% if (message | attr('role')) == 'user' -%} 
            {{ message.role + '\n' ~ content + '<|end_of_turn|>' }}
        {%- elif loop.index0 > 5 -%}{# limit output #}-
    {% endif -%}

{% endfor %}{# End message loop #}}